<div class="container">
<ngb-carousel  [showNavigationArrows]="showNavigationArrows" 
[showNavigationIndicators]="showNavigationIndicators">



        <ng-template ngbSlide width="100%" height="100%" >
          <img [src]="'assets/slika.jpg'" alt="Random slide">
          
        </ng-template>
        <ng-template ngbSlide  >
                <video width="900"  height="900" autoplay loop muted>
                        <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
                      </video>
                      
                
              </ng-template>
            



         
      </ngb-carousel>
</div>
      